<!-- Token Sale Proceeds -->
<section id="contact-us" class="contact-us overview-block-pt">

    <div class="copyright-box text-center iq-bg-over iq-over-black-20 text-center iq-ptb-20 iq-mt-100">
        <div class="container-fluid">
            <div class="row">
                <div class="col-sm-12">
                    <div class="iq-copyright iq-font-white">
                        © Copyright 2021 - {% now 'Y' %} <a href="#">Maihan Dost</a>
                    </div>
                    <div>
                        <a href="{% url 'website:privacy-policy' %}">Privacy Policy</a> |
                        <a href="{% url 'website:terms' %}">Terms</a>
                    </div>
                </div>
            </div>
        </div>
    </div>
</section>
<!-- Token Sale Proceeds END -->