{% load static %}

<footer id="sticky-footer" class="pt-5 pb-3 bg-footer-link">

    <div class="container p-4">
        <div class="row">

            <div class="col">
                <img src='{% static "exarth/theme/logo-red-1000.svg" %}' height="100">
            </div>

            <div class="col">
                <ul class="list-unstyled text-white-50">
                    <li class="h4 text-white"><p>Exarth</p></li>
                    <li class=""><a href="#" class="text-white-50">Home</a></li>
                    <li class=""><a href="#" class="text-white-50">Services</a></li>
                    <li class=""><a href="#" class="text-white-50">Products</a></li>
                    <li class=""><a href="#" class="text-white-50">Our Work</a></li>
                </ul>
            </div>

            <div class="col">
                <ul class="list-unstyled">
                    <li class="text-white h4"><p>Exalters</p></li>
                    {#                    <li class="small"><a href="#Say "hi" exalters</a></li>#}
                    <li class=""><a href="#" class="text-white-50">Admins Portal</a></li>
                    <li class=""><a href="#" class="text-white-50">Members Portal</a></li>
                    <li class=""><a href="#" class="text-white-50">Client Portal</a></li>
                </ul>
            </div>

            <div class="col">
                <ul class="list-unstyled">
                    <li class="text-white h4"><p>Quick Links</p></li>
                    <li class=""><a href="#" class="text-white-50">Vision</a></li>
                    <li class=""><a href="#" class="text-white-50">Mission</a></li>
                    <li class=""><a href="#" class="text-white-50">Contact Us</a></li>
                    <li class=""><a href="#" class="text-white-50">About Us</a></li>
                </ul>
            </div>
        </div>


    </div>
    <hr class="border border-danger">
    <div class="container">
        <div class="row">

            <div class="col">
                <p class="text-white mb-0">All rights reserved Copyright 2021 - {% now "Y" %} ©
                    <a href="/">
                        <b class="text-danger">EXARTH</b>
                    </a><br>
                    Designed and Developed by <a class="text-danger"><b>MARK I</b></a>
                </p>
            </div>

            <div class="col">
                <div class="text-right">
                    <a class="text-light" href="#">Privacy Policy</a> |
                    <a class="text-light" href="#">Terms of Use</a>
                </div>
            </div>

        </div>

    </div>
</footer>