{% load static %}
<!doctype html>
<html lang="en">
<head>
    <link rel="icon" href="{% static 'exarth/theme/favico.ico' %}">
    <title>

        {# BASE HALF TITLE #}
        {% block base_title %}
            Exarth
        {% endblock %}
        {# --------------- #}

    </title>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
    {% block base_seo %}

    {% endblock %}
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/4.7.0/css/font-awesome.min.css">

    <link rel="stylesheet" href="{% static 'exarth/theme/js_css/owl.carousel.min.css' %}">
    <link rel="stylesheet" href="{% static 'exarth/theme/js_css/owl.theme.default.min.css' %}">
    <link rel="stylesheet" href="{% static 'exarth/theme/js_css/bootstrap.min.css' %}">
    <link rel="stylesheet" href="{% static 'exarth/theme/js_css/body_writing_fonts.css' %}">
    <link rel="stylesheet" href="{% static 'exarth/theme/js_css/head_writing_fonts.css' %}">
    <link rel="stylesheet" href="{% static 'exarth/theme/js_css/main.css' %}">
    <link rel="stylesheet" href="{% static 'exarth/theme/js_css/app.min.css' %}">

    {# BASE LINKS THAT ARE REQUIRED FOR CERTAIN PAGE #}
    {% block base_links %}

    {% endblock %}
    <style>
        html, body {
            font-family: 'Quicksand', sans-serif;
        }


    </style>
    {# --------------------------------------------- #}

</head>
{% block body %}

    <body data-spy="scroll" data-target="#topnav-menu" data-offset="60">

    {# BASE TOP NAVIGATION PANEL AREA #}
    {% block base_top_nav %}
        {% include 'website/include/base_top_nav.html' %}
    {% endblock %}
    {# ------------------------------ #}


    {% block content %}
    {% endblock %}

    {% block footer %}
        {% include 'website/include/footer.html' %}
    {% endblock %}

    {# jQuery first, then Popper.js, then Bootstrap JS #}
    <script src="{% static 'exarth/theme/js_css/jquery.min.js' %}"></script>
    <script src="{% static 'exarth/theme/js_css/boostraps.js' %}"></script>
    <script src="{% static 'exarth/theme/js_css/metisMenu.min.js' %}"></script>
    <script src="{% static 'exarth/theme/js_css/simplebar.min.js' %}"></script>
    <script src="{% static 'exarth/theme/js_css/waves.min.js' %}"></script>
    <script src="{% static 'exarth/theme/js_css/app.js' %}"></script>
    <script src="{% static 'exarth/theme/js_css/owl.carousel.min.js' %}"></script>
    <script src="{% static 'exarth/theme/js_css/timeline.init.js' %}"></script>
    <script src="{% static 'exarth/theme/js_css/ico-landing.init.js' %}"></script>


    {# BASE INTERNAL SCRIPTS OR LINKS THAT ARE REQUIRED IN PAGE #}
    {% block base_internal_scripts %}

    {% endblock %}
    {# -------------------------------------------------------- #}
    </body>
{% endblock %}
</html>


{# BASE EXTERNAL SCRIPTS OR LINKS THAT ARE REQUIRED IN PAGE #}
{% block base_external_scripts %}

{% endblock %}
{# -------------------------------------------------------- #}