{% extends 'website/base.html' %}
{% load static %}

{% block content %}
    <!-- Send/Request Money
        ============================================= -->
    <section class="hero-wrap">
        <div class="hero-mask opacity-7 bg-dark"></div>
        <div class="hero-bg" style="background-image:url('{% static 'vendor/images/image-5.jpg' %}');"></div>
        <div class="hero-content d-flex min-vh-100">
            <div class="container my-auto py-5">
                <div class="row">
                    <div class="col-lg-6 col-xl-7 my-auto text-center text-lg-start pb-5 pb-lg-0">
                        <h2 class="text-17 text-white"><span class="fw-400 text-15">A better way to</span> <br>
                            Send Money</h2>
                        <p class="text-4 text-white mb-4"> Send money with a better exchange rate and avoid excessive
                            bank fees.</p>
                        <a class="btn btn-outline-light video-btn" href="#"
                           data-src="https://www.youtube.com/embed/7e90gBu4pas" data-bs-toggle="modal"
                           data-bs-target="#videoModal"><span class="text-2 me-3"><i class="fas fa-play"></i></span>See
                            How it Works</a></div>
                    <div class="col-lg-6 col-xl-5 my-auto">
                        <div class="bg-white rounded shadow-md p-4">
                            <h3 class="text-5 mb-4 text-center">Send Money</h3>
                            <hr class="mb-4 mx-n4">
                            <form id="form-send-money" method="post">
                                <div class="mb-3">
                                    <label for="youSend" class="form-label">You Send</label>
                                    <div class="input-group">
                                        <span class="input-group-text">$</span>
                                        <input type="text" class="form-control" data-bv-field="youSend" id="youSend"
                                               value="1,000" placeholder="">
                                    </div>
                                </div>
                                <div class="mb-3">
                                    <label for="recipientGets" class="form-label">Recipient Gets</label>
                                    <div class="input-group">
                                        <span class="input-group-text">$</span>
                                        <input type="text" class="form-control" data-bv-field="recipientGets"
                                               id="recipientGets" value="1,410.06" placeholder="">
                                    </div>
                                </div>
                                <p class="text-muted mb-1">Total fees - <span class="fw-500">7.21 USD</span></p>
                                <p class="text-muted">The current exchange rate is <span class="fw-500">1 USD = 1.42030 AUD</span>
                                </p>
                                <div class="d-grid">
                                    <button class="btn btn-primary">Continue</button>
                                </div>
                            </form>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </section>
    <!-- Send/Request Money End -->

    <!-- Why choose us
    ============================================= -->
    <section class="section bg-white">
        <div class="container">
            <h2 class="text-9 text-center text-uppercase fw-400">Why choose us?</h2>
            <p class="lead text-center mb-5">Here’s Top 4 reasons why using a Payyed account for manage your
                money.</p>
            <div class="row">
                <div class="col-lg-10 mx-auto">
                    <div class="row g-4">
                        <div class="col-sm-6">
                            <div class="featured-box style-3">
                                <div class="featured-box-icon border border-primary text-primary rounded-circle"><i
                                        class="fas fa-hand-pointer"></i></div>
                                <h3 class="fw-400">Easy to use</h3>
                                <p>Lisque persius interesset his et, in quot quidam persequeris vim, ad mea essent
                                    possim iriure.</p>
                            </div>
                        </div>
                        <div class="col-sm-6">
                            <div class="featured-box style-3">
                                <div class="featured-box-icon border border-primary text-primary rounded-circle"><i
                                        class="fas fa-share"></i></div>
                                <h3 class="fw-400">Faster Payments</h3>
                                <p>Persius interesset his et, in quot quidam persequeris vim, ad mea essent possim
                                    iriure.</p>
                            </div>
                        </div>
                        <div class="col-sm-6">
                            <div class="featured-box style-3">
                                <div class="featured-box-icon border border-primary text-primary rounded-circle"><i
                                        class="fas fa-dollar-sign"></i></div>
                                <h3 class="fw-400">Lower Fees</h3>
                                <p>Essent lisque persius interesset his et, in quot quidam persequeris vim, ad mea
                                    essent possim iriure.</p>
                            </div>
                        </div>
                        <div class="col-sm-6">
                            <div class="featured-box style-3">
                                <div class="featured-box-icon border border-primary text-primary rounded-circle"><i
                                        class="fas fa-lock"></i></div>
                                <h3 class="fw-400">100% secure</h3>
                                <p>Quidam lisque persius interesset his et, in quot quidam persequeris vim, ad mea
                                    essent possim iriure.</p>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </section>
    <!-- Why choose us End -->

    <!-- How it works
    ============================================= -->
    <section class="section">
        <div class="container">
            <h2 class="text-9 text-center text-uppercase fw-400">As simple as 1-2-3</h2>
            <p class="lead text-center mb-5">Lorem Ipsum is simply dummy text of the printing and typesetting
                industry.</p>
            <div class="row g-4 g-lg-5">
                <div class="col-sm-4">
                    <div class="featured-box style-4">
                        <div class="featured-box-icon text-dark shadow-none border-bottom"><span
                                class="w-100 text-20 fw-500">1</span></div>
                        <h3 class="mb-3">Sign Up Your Account</h3>
                        <p class="text-3 fw-300">Sign up for your free personal/business Account in fea a
                            minute.</p>
                    </div>
                </div>
                <div class="col-sm-4">
                    <div class="featured-box style-4">
                        <div class="featured-box-icon text-dark shadow-none border-bottom"><span
                                class="w-100 text-20 fw-500">2</span></div>
                        <h3 class="mb-3">Send & Receive Money</h3>
                        <p class="text-3 fw-300">Receive & Send Payments from worldwide in 40 currencies.</p>
                    </div>
                </div>
                <div class="col-sm-4">
                    <div class="featured-box style-4">
                        <div class="featured-box-icon text-dark shadow-none border-bottom"><span
                                class="w-100 text-20 fw-500">3</span></div>
                        <h3 class="mb-3">Withdraw Funds</h3>
                        <p class="text-3 fw-300">Your funds will be transferred to your local bank account.</p>
                    </div>
                </div>
            </div>
            <div class="text-center mt-5"><a href="#" class="btn btn-primary">Open a Free Account</a></div>
        </div>
    </section>
    <!-- How it works End -->

    <!-- What can you do
    ============================================= -->
    <section class="section bg-white">
        <div class="container">
            <h2 class="text-9 text-center text-uppercase fw-400">What can you do?</h2>
            <p class="lead text-center mb-5">Lorem Ipsum is simply dummy text of the printing and typesetting
                industry.</p>
            <div class="row g-4">
                <div class="col-sm-6 col-lg-3"><a href="#">
                    <div class="featured-box style-5 rounded">
                        <div class="featured-box-icon text-primary"><i class="fas fa-share-square"></i></div>
                        <h3>Send Money</h3>
                    </div>
                </a></div>
                <div class="col-sm-6 col-lg-3"><a href="#">
                    <div class="featured-box style-5 rounded">
                        <div class="featured-box-icon text-primary"><i class="fas fa-check-square"></i></div>
                        <h3>Receive Money</h3>
                    </div>
                </a></div>
                <div class="col-sm-6 col-lg-3"><a href="#">
                    <div class="featured-box style-5 rounded">
                        <div class="featured-box-icon text-primary"><i class="fas fa-user-friends"></i></div>
                        <h3>Pay a Friend</h3>
                    </div>
                </a></div>
                <div class="col-sm-6 col-lg-3"><a href="#">
                    <div class="featured-box style-5 rounded">
                        <div class="featured-box-icon text-primary"><i class="fas fa-shopping-bag"></i></div>
                        <h3>Online Shopping</h3>
                    </div>
                </a></div>
            </div>
            <div class="text-center mt-5"><a href="#" class="btn-link text-4">See more can you do<i
                    class="fas fa-chevron-right text-2 ms-2"></i></a></div>
        </div>
    </section>
    <!-- What can you do End -->

    <!-- Testimonial
    ============================================= -->
    <section class="hero-wrap section shadow-md">
        <div class="hero-mask opacity-3 bg-dark"></div>
        <div class="hero-bg hero-bg-scrll"
             style="background-image:url('{% static 'vendor/images/image-4.jpg' %}');"></div>
        <div class="hero-content py-0 py-lg-5 my-0 my-lg-5">
            <div class="container text-center">
                <h2 class="text-9 text-white fw-400 text-uppercase mb-5">What our customers say</h2>
                <a class="video-btn d-flex" href="#" data-src="https://www.youtube.com/embed/7e90gBu4pas"
                   data-bs-toggle="modal" data-bs-target="#videoModal"> <span
                        class="playButton playButton-pulsing bg-white m-auto"><i class="fas fa-play"></i></span>
                </a></div>
        </div>
    </section>
    <!-- Testimonial end -->
{% endblock %}