{% extends 'website/base.html' %}
{% load static %}

{% block base_title %} Gift Cards {% endblock %}

{% block content %}

    {# PROTFOLIO ---------------------------------------------------------------------------------------------------- #}
    <section class="py-5 remains_background" id="hero">
        <div class="py-5">
            <div class="py-5">
                <div class="container py-5 col-md-5 justify-content-center text-white text-center py-5">

                    <p class="mb-0 display-3">
                        Gift Cards
                    </p>
                    <hr>
                    <h1 class="mb-0 text-light h2">
                        No of gift cards are available for now we will add more in future.
                    </h1>

                </div>
            </div>
        </div>

    </section>

    {# CARDS --------------------------------------------------------------------------------------------------- #}
    <div class="section py-5">
        <div class="container py-2">
            <div class="row">
                <div class="col-lg-12">
                    <div class="text-center mb-5">
                        <div class="small-title text-secondary">
                            Haven't seen
                        </div>
                        <h1 class="text-dark">Our Gift Cards</h1>
                    </div>
                </div>
            </div>

            <div class="row justify-content-center">


                {% for foo in '1234567890'|make_list %}
                    <div class="col-lg-4">
                        <div class="card border shadow">
                            <div class="card-body text-center">

                                <div>
                                    <iframe src="https://embed.lottiefiles.com/animation/93614" class="border-0"></iframe>
{#                                    <img src="{% static 'exarth/theme/logo-red.png' %}" height="80px">#}
                                    <h3 class="pt-2 m-0">
                                        <a href="#" class="text-dark">Love Gift</a>
                                    </h3>
                                    <p class="text-muted small">To your loved one whom you loves so much</p>
                                </div>
                                <hr>
                                <div class="row">
                                    <div class="col">
                                        <b class="">100 $</b>
                                    </div>
                                    <div class="col">
                                        <a href="#"><b>Buy Now</b></a>
                                    </div>
                                </div>

                            </div>
                        </div>
                    </div>
                {% endfor %}


            </div>
        </div>
    </div>


{% endblock %}