{% extends 'website/base.html' %}
{% load static %}

{% block base_seo %}
    <meta name="description" content="software development company">
{% endblock %}

{% block base_title %}Go Fast{% endblock %}

{% block content %}

    {# PROTFOLIO ---------------------------------------------------------------------------------------------------- #}
    <section class="py-5 remains_background" id="hero">
        <div class="py-5">
            <div class="py-5">
                <div class="container py-5 col-md-5 justify-content-center text-white text-center py-5">

                    <p class="mb-0 display-3">
                        Fast Gift
                    </p>
                    <hr>
                    <h1 class="mb-0 text-light h2">
                        No-Signup/Signin Just fill out sender and receiver information and sent your gift to your loved
                        ones.
                    </h1>

                </div>
            </div>
        </div>

    </section>

    {# WORK ---------------------------------------------------------------------------------------------------- #}
    <section class="section py-5" id="about">
        <div class="container">

            <div class="row border p-4">
                <div class="col-sm-12 mb-4">
                    <div class="small-title">Step 1</div>
                    <h4>Fill out Sender and Receiver</h4>
                </div>
                <div class="col-6">
                    <div class="card border shadow rounded">
                        <div class="card-body border-bottom">
                            <p class="mb-0 card-title">STEP1: Sender Information</p>
                        </div>
                        <div class="card-body">
                            <input class="form-control" type="text" placeholder="First Name">
                            <input class="form-control" type="text" placeholder="Last Name">
                            <input class="form-control" type="text" placeholder="Phone">
                            <input class="form-control" type="text" placeholder="Email">
                        </div>
                    </div>
                </div>
                <div class="col-6">
                    <div class="card border shadow rounded">
                        <div class="card-body border-bottom">
                            <p class="mb-0 card-title">STEP1: Receiver Information</p>
                        </div>
                        <div class="card-body">
                            <input class="form-control" type="text" placeholder="First Name">
                            <input class="form-control" type="text" placeholder="Last Name">
                            <input class="form-control" type="text" placeholder="Phone">
                            <input class="form-control" type="text" placeholder="Email">
                        </div>
                    </div>
                </div>
            </div>

            <hr>
            <div class="row p-4 border">
                <div class="col-12 ">
                    <div class="small-title">Step 2</div>
                    <h4>Verification</h4>
                    <p>{% lorem 1 p %}</p>
                    <p class="h4">Agreement</p>
                    <ul>
                        {% for foo in '123456'|make_list %}
                            <li>{% lorem 12 w %}</li>
                        {% endfor %}

                    </ul>
                    <input type="checkbox" checked> I am agreed to all terms and conditions mentioned above
                    <br><br>
                    <a href="{% url 'payments:create_checkout_session' 1 %}" class="btn btn-primary">
                        Purchase and Sent
                    </a>
                </div>
            </div>
        </div>
    </section>



{% endblock %}