{% extends 'website/base.html' %}
{% load static %}

{% block base_seo %}
    <meta name="description" content="software's and products">
{% endblock %}
{% block base_title %}Privacy Policy{% endblock %}



{% block content %}

    {# PROTFOLIO #}
    <div class="py-5 remains_background">
        <div class="py-5">
            <div class="container col-md-5 justify-content-center text-white text-center py-5">
                <div class="text-light">
                    <h1 class="text-white">Privacy Policy</h1>
                    <p class="text-white h5">
                        Responsible practices to ensure data protection and privacy
                    </p>
                </div>
            </div>
        </div>
    </div>


    {# DOWNLOADS #}
    <div class="section py-5 bg-white">
        <div class="container">

            <p class="h4">
                This Privacy policy enunciates the privacy and data protection principles followed by Maihan Dost and its
                affiliates with regards to collection, use, sharing and processing of personal information and personal
                data obtained in connection with the use of this website. This Privacy policy applies to processing of
                personal information or personal data of visitors and existing and prospective users of Maihan Dost and its
                affiliates, Customers, Suppliers, Agents, Business partners and their representatives
            </p>
            <hr>

            <div class="mt-5">
                <h1>Who are we?</h1>
                <h5>
                    Maihan Dost Group is providing a broad spectrum of technology services to businesses around the globe.
                    This website is our marketing tool and generally speaking, any personal data processed on this
                    website is used for marketing purposes as described in this Policy in more details.
                </h5>
            </div>

            <div class="mt-5">
                <h1>Why do we process your data?</h1>
                <h5>
                    Please keep in mind that you can always withdraw your consent by leaving us a clear note at
                    privacy(at) <a href="https://maihandost.com/">maihandost.com</a> at any time or by clicking the Unsubscribe
                    button under any email received from
                    us.<br><br>

                    Also, you may always object to our processing activities based on the legitimate interest and have
                    your data completely erased from all our systems. Just write us about your intent at
                    privacy(at) <a href="https://maihandost.com/">maihandost.com</a>.<br><br>

                    In both cases, we’ll stop the processing of your data as soon as we find your note in our Inbox,
                    which shall not take more than a business day.<br><br>

                    Please also not that if you withdraw your consent for direct marketing by clicking Unsubscribe
                    button, we will not delete the rest of your data automatically. But you may request us to do so by
                    sending us an email to the address above.
                </h5>
            </div>

            <div class="mt-5">
                <h1>Do you profile me?</h1>
                <h5>
                    If you’ve consented to receive marketing materials from us, we’ll use the information we have about
                    you, as described in this Policy, to provide you with more relevant materials. That’s all the
                    profiling we do.
                </h5>
            </div>

            <div class="mt-5">
                <h1>What information do we process?</h1>
                <h5>
                    Here is a complete list of the personal data we may want to know about you:

                </h5>
                <ul>
                    <li>Your name</li>
                    <li>Your email</li>
                    <li>Your phone number</li>
                    <li>The company you work at</li>
                    <li>Where is your company located</li>
                    <li>The fact that you’ve visited our website</li>
                    <li>What website referred you to <a href="https://maihandost.com/">maihandost.com</a></li>
                    <li>Have you downloaded any materials from our website</li>
                </ul>
                <h5>
                    Here you can read more about where we get this information from.<br><br>

                    Most of the information comes directly from you. We could add some information that is not a secret,
                    like your job title or address to LinkedIn profile, if you’ve made those publicly available.
                </h5>
            </div>

            <div class="mt-5">
                <h1>What about cookies?</h1>
                <h5>
                    If you’ve read this Policy up to this moment, we believe that you’ve deserved to have yourself a
                    delicious cookie. Also, we want to believe that we deserve to place some of those tasty bits of data
                    on your device.
                </h5>
                <ul>
                    <li>
                        <h5 class="mb-0">Functional</h5>
                        when cookies are used to tailor your experience. For instance, cookies permit
                    </li>
                    <li>
                        <h5 class="mb-0">Performance</h5>
                        when cookies are used to analyse how you use our websites and to monitor website performance.
                        This allows us to identify and fix any issues that arise quickly. For example, we use Google
                        Analytics cookies to keep track of which pages are the most popular and to "remember" what a
                        user has done visiting other pages on the website. We might also use cookies to highlight
                        articles or offerings that we think will be of interest to you based on how you use our website.
                    </li>
                </ul>
                <h5>
                    How to reject and delete cookies?<br><br>

                    Most web browsers automatically accept cookies. However, you do not have to accept cookies and you
                    can reject or block the use of cookies and delete all cookies currently stored on your device. You
                    can find out how to do this for your particular browser by clicking “help” on your browser’s menu,
                    or by visiting this <a href="https://www.aboutcookies.org/">useful resource</a>.
                </h5>
            </div>

            <div class="mt-5">
                <h1>Still have some questions?</h1>
                <h5>
                    You can reach us at privacy(at) <a href="https://maihandost.com/">maihandost.com</a> , if you:

                </h5>
                <ul>
                    <li>Want to know more about privacy of your information</li>
                    <li>Want to make any kind of claim or request with regard to your personal data</li>
                    <li>Want to say that we are wrong in any privacy issue</li>
                    <li>Want to share your thought how we could make our privacy practices better</li>
                    <li>Just bored and want to talk about privacy</li>
                </ul>
                <h5>
                    We promise that we’ll reply. At least once, if you are just bored.
                </h5>
            </div>

        </div>
    </div>


{% endblock %}
