{% extends 'website/base.html' %}
{% load static %}

{% block base_seo %}
    <meta name="description" content="software's and products">
{% endblock %}
{% block base_title %}Terms of Use{% endblock %}



{% block content %}

    {# PROTFOLIO #}
    <div class="py-5 remains_background">
        <div class="py-5">
            <div class="container col-md-5 justify-content-center text-white text-center py-5">
                <div class="text-light">
                    <h1 class="text-white">Terms of Use</h1>
                    <h5 class="text-white">
                    </h5>
                </div>
            </div>
        </div>
    </div>


    {# DOWNLOADS #}
    <div class="section py-5 bg-white">
        <div class="container">

            <p class="h4">
                These Terms of Use (“Terms”) are a legal contract between you and/or the
                entity or company that you represent (“you” or “your”) and MAIHANDOST (“we”, “us” or “MAIHANDOST”),
                and govern your use of all the text, data, information, software, graphics, and other content
                (collectively “Content”) that we and our affiliates may make available to you.
            </p>
            <hr>

            <div class="mt-5">
                <h1>Changes</h1>
                <h5>
                    We may modify, suspend or discontinue this website and/or the Content at any time and without
                    notifying you. We may also change, update, add or remove provisions of these Terms from time to
                    time.
                </h5>
            </div>

            <div class="mt-5">
                <h1>Electronic communications</h1>
                <h5>
                    By using our website, you consent to receive electronic communications from us. These electronic
                    communications may include notices and other information concerning or related to the website. These
                    electronic communications are part of your relationship with us.
                </h5>
            </div>

            <div class="mt-5">
                <h1>Copyright</h1>
                <h5>
                    Use of any part of or content from this website for commercial purposes of any kind is expressly
                    prohibited. To request permission to use any of the content on this website for commercial purposes,
                    please contact our company at <a href="mailto:support@maihandost.com">support@maihandost.com</a><br><br>

                    Under no circumstances may any of the content on this website be displayed on either a commercial or
                    personal website without obtaining prior permission. Unauthorized use of any information from this
                    website may violate copyright, trademark and other laws.
                </h5>
            </div>

            <div class="mt-5">
                <h1>Copyright</h1>
                <h5>
                    By using our website, you consent to receive electronic communications from us. These electronic
                    communications may include notices and other information concerning or related to the website. These
                    electronic communications are part of your relationship with us.
                </h5>
            </div>

            <div class="mt-5">
                <h1>Trademarks</h1>
                <h5>
                    Maihandost brand is a registered trademark of Maihandost. All other product and company names used or
                    mentioned herein are or may be trademarks™ or registered® trademarks of their respective holders.
                    Use of them as such does not imply any affiliation with or endorsement by them.
                </h5>
            </div>

            <div class="mt-5">
                <h1>Disclaimer</h1>
                <h5>
                    This website and all information contained herein is provided “as is”, without warranty of any kind,
                    either express or implied, including but not limited to any implied warranty of merchantability or
                    fitness for a particular purpose.<br><br>

                    The content, texts, documents, and related illustrations published on this website could include
                    technical inaccuracies or typographical mistakes. Maihandost. may make changes and/or enhancements in
                    the content of this website at any time, without notification.<br><br>

                    Without limiting the generality of the foregoing, we make no warranty that your use of our websites
                    will be uninterrupted, timely, secure, or error free or that defects will be corrected. No advice or
                    information, whether oral or written, obtained by you through this website or from us or our
                    subsidiaries/other affiliated companies shall create any warranty. We disclaim all equitable
                    indemnities.
                </h5>
            </div>

            <div class="mt-5">
                <h1>Links to Third Party Sites</h1>
                <h5>
                    Our provision of a link to any other site or location is for your convenience only and does not
                    signify our endorsement of any such other site or location, or its contents. Maihandost WILL NOT ACCEPT
                    LIABILITY FOR ANY INFORMATION, SOFTWARE, OR LINKS FOUND AT ANY OTHER WEBSITE, INTERNET LOCATION, OR
                    SOURCE OF INFORMATION, OR FOR ANY USE OF SUCH INFORMATION.
                </h5>
            </div>

            <div class="mt-5">
                <h1>Limitation of Liability</h1>
                <h5>
                    In no event shall Maihandost. be liable for any direct, indirect, special, or consequential damages,
                    or any other damages whatsoever, for any use of or reliance on this website, or any linked or
                    referenced website, including, without limitation, any lost opportunity, lost profits, business
                    interruption, loss of programs or data, even if expressly advised or otherwise aware of the
                    possibility of such damages, whether in an action of contract, negligence, tort, or otherwise.
                </h5>
            </div>

            <div class="mt-5">
                <h1>Applicable law</h1>
                <h5>
                    By using this website, you agree that the laws of <b class="text-primary">United States</b>,
                    without regard to principles of conflict
                    of laws, will govern these Terms of Use and any dispute of any sort that might arise between you and
                    Maihandost.
                </h5>
            </div>

            <div class="mt-5">
                <h1>Local laws</h1>
                <h5>
                    We control and operate the website from our headquarter in <b class="text-primary">United States</b>,
                    and the entirety of the website
                    may not be appropriate or available for use in other locations. If you use our websites outside
                    United States, you are solely responsible for following applicable local laws.
                </h5>
            </div>

            <div class="mt-5">
                <h1>Contact us</h1>
                <h5>
                    If you have any questions about these Terms or otherwise need to contact us for any reason, you can
                    reach us at <a href="mailto:support@maihandost.com">support@maihandost.com</a>.
                </h5>
            </div>

        </div>
    </div>


{% endblock %}
