{% extends 'admins/base.html' %}
{% load static %}

{% block title %}
    Reset Successful
{% endblock %}

{% block only-body %}

    <div id="layout-wrapper">
        <div class="account-pages my-5 pt-sm-5">
            <div class="container">
                <div class="row justify-content-center">
                    <div class="col-md-8 col-lg-6 col-xl-5">


                        <div class="card">
                            <div class="card-body rounded shadow">
                                <div class="brand-logo text-center">
                                    <img src="{% static 'core/logo.png' %}" alt="logo">
                                </div>
                                <h2 class="mt-4">Password reset complete</h2>
                                <p>
                                    Your Password has been set. You may go ahead and login
                                </p>
                                <hr>
                                <a href="{% url 'accounts:administration-login' %}">Go to Login</a>
                            </div>
                        </div>


                    </div>
                </div>
            </div>
        </div>
    </div>

{% endblock %}