{% extends 'admins/base.html' %}
{% load static %}
{% load crispy_forms_tags %}

{% block title %}
    Mail Sent
{% endblock %}

{% block only-body %}

    <div id="layout-wrapper">
        <div class="account-pages my-5 pt-sm-5">
            <div class="container">
                <div class="row justify-content-center">
                    <div class="col-md-8 col-lg-6 col-xl-5">


                        <div class="card">
                            <div class="card-body rounded shadow">
                                <div class="brand-logo text-center">
                                    <img src="{% static 'core/logo.png' %}" alt="logo">
                                </div>
                                <h4 class="mt-4">Password Reset</h4>
                                <p class="">
                                    We’ve emailed you instructions for setting your password, if an account exists with
                                    the email you entered. You should receive them shortly.
                                    If you don’t receive an email, please make sure you’ve entered the
                                    address you registered with, and check your spam folder.
                                </p>
                                <div class="text-center">
                                    <a target="_blank" class="text-success h1" href="https://mail.google.com/">
                                        <i class="bx bxl-google"></i>
                                    </a>
                                    <a target="_blank" class="text-primary h1" href="https://login.live.com/">
                                        <i class="bx bxl-microsoft"></i>
                                    </a>
                                    <a target="_blank" class="text-danger h1" href="https://mail.yahoo.com/">
                                        <i class="bx bxl-yahoo"></i>
                                    </a>
                                </div>
                                <hr>
                                <a href="/">Back to Home Page</a>
                            </div>
                        </div>


                    </div>
                </div>
            </div>
        </div>
    </div>

{% endblock %}