{% extends 'admins/base.html' %}
{% load static %}

{% block title %}
    Email Confirmed
{% endblock %}

{% block only-body %}
    <div id="layout-wrapper">
        <div class="account-pages my-5 pt-sm-5">
            <div class="container">
                <div class="row justify-content-center">
                    <div class="col-md-8 col-lg-6 col-xl-5">


                        <div class="card">
                            <div class="card-body rounded shadow">
                                <div class="brand-logo text-center">
                                    <img src="{% static 'core/logo.png' %}" alt="logo">
                                </div>
                                <h2 class="mt-4">Email Confirmed</h2>
                                <p>
                                    Your account has been activated successfully, please login from your mobile
                                    application to continue.
                                </p>
                            </div>
                        </div>


                    </div>
                </div>
            </div>
        </div>
    </div>
{% endblock %}